Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shfmt --write, shellcheck --severity 'style', markdownlint-cli2 --fix, lychee, biome check --write, yamllint --strict, dotnet format --include

.lintstagedrc.json:

{
	"(**.sh|.husky/**)": ["shfmt --write", "shellcheck --severity 'style'"],
	"**.md": ["markdownlint-cli2 --fix", "lychee"],
	"**.{json,js,ts}": "biome check --write",
	"**.{yaml,yml}": "yamllint --strict",
	"**/*.cs": "dotnet format --include"
}

build: update `PNPM` from 10.14.0 to 10.15.0
  package.json
Due: biome check --write

chore: add `TruffleHog` scan for leaked credentials
  .husky/pre-commit
  contributing.md
Due: markdownlint-cli2 --fix, lychee

build: update `Node.js` from 22.18.0 to 22.19.0
  .nvmrc
  package.json
Due: biome check --write

style(`Unit`): improve naming convention by context
  libraries/core/tests/unit/UnitTypeTests.cs
Due: dotnet format --include

documentation(`Unit`): synchronize API reference
  libraries/core/documentation/unit.md
Due: markdownlint-cli2 --fix, lychee

documentation(`ResultFactory`): synchronize the API reference
  libraries/core/documentation/monads/result-factory.md
  libraries/core/readme.md
Due: markdownlint-cli2 --fix, lychee

documentation(`Result`): synchronize API reference
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
  libraries/core/documentation/unit.md
  libraries/core/source/Monads/Result.cs
Due: markdownlint-cli2 --fix, lychee, dotnet format --include

style: organize `XML` documentation tags
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Monads/ResultFactory.cs
  libraries/core/source/Monads/ValueResult.cs
  libraries/core/source/Monads/ValueResultFactory.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
  libraries/core/tests/unit/Monads/ValueResultTest.cs
Due: dotnet format --include

documentation(`ValueResult`): synchronize API reference
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
  libraries/core/documentation/monads/value-result.md
  libraries/core/source/Monads/ValueResult.cs
Due: markdownlint-cli2 --fix, lychee, dotnet format --include

documentation(`ValueResultFactory`): synchronize API reference
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
  libraries/core/documentation/monads/value-result-factory.md
  libraries/core/documentation/monads/value-result.md
  libraries/core/documentation/unit.md
Due: markdownlint-cli2 --fix, lychee

documentation: add context reference
  libraries/core/readme.md
Due: markdownlint-cli2 --fix, lychee

compatibility: rename namespace from `Daht.Sagitta.Core.Monads` to `Daht.Sagitta.Core.Results`
  libraries/core/documentation/results/result-factory.md
  libraries/core/documentation/results/result.md
  libraries/core/documentation/results/value-result-factory.md
  libraries/core/documentation/results/value-result.md
  libraries/core/documentation/unit.md
  libraries/core/readme.md
  libraries/core/source/Global.cs
  libraries/core/source/Results/Exceptions/Helpers/ResultExceptionMessages.cs
  libraries/core/source/Results/Result.cs
  libraries/core/source/Results/ResultFactory.cs
  libraries/core/source/Results/ValueResult.cs
  libraries/core/source/Results/ValueResultFactory.cs
  libraries/core/tests/unit/Global.cs
  libraries/core/tests/unit/Results/Asserters/ResultAsserter.cs
  libraries/core/tests/unit/Results/Asserters/ValueResultAsserter.cs
  libraries/core/tests/unit/Results/Fakers/Failure.cs
  libraries/core/tests/unit/Results/Fakers/FailureWithNullToString.cs
  libraries/core/tests/unit/Results/Fakers/SuccessWithNullToString.cs
  libraries/core/tests/unit/Results/Fixtures/ResultFixture.cs
  libraries/core/tests/unit/Results/Fixtures/ValueResultFixture.cs
  libraries/core/tests/unit/Results/Mothers/ResultMother.cs
  libraries/core/tests/unit/Results/Mothers/ValueResultMother.cs
  libraries/core/tests/unit/Results/ResultFactoryTests.cs
  libraries/core/tests/unit/Results/ResultTests.cs
  libraries/core/tests/unit/Results/ValueResultFactoryTests.cs
  libraries/core/tests/unit/Results/ValueResultTest.cs
  readme.md
Due: markdownlint-cli2 --fix, lychee, dotnet format --include

documentation: add external references
  libraries/core/readme.md
Due: markdownlint-cli2 --fix, lychee

documentation: simplify package description
  libraries/core/source/Sagitta.Core.csproj
Due: none

build: avoid exposing internal library `Daht.Sagitta.Shared` to consumers
  libraries/core/source/Sagitta.Core.csproj
Due: none

build: update `PNPM` from 10.15.0 to 10.15.1
  package.json
Due: biome check --write

feature(`Result`): add fallback handler
  libraries/core/documentation/results/result.md
  libraries/core/documentation/results/value-result.md
  libraries/core/documentation/unit.md
  libraries/core/readme.md
  libraries/core/source/Results/Result.cs
  libraries/core/source/Results/ValueResult.cs
  libraries/core/source/Unit.cs
  libraries/core/tests/unit/Results/ResultTests.cs
Due: markdownlint-cli2 --fix, lychee, dotnet format --include

feature(`ValueResult`): add fallback handler
  libraries/core/documentation/results/value-result.md
  libraries/core/source/Results/ValueResult.cs
  libraries/core/tests/unit/Results/ValueResultTest.cs
Due: markdownlint-cli2 --fix, lychee, dotnet format --include

feature(`Result`): add support for unconditional execution
  libraries/core/documentation/results/result.md
  libraries/core/readme.md
  libraries/core/source/Results/Result.cs
  libraries/core/tests/unit/Results/ResultTests.cs
Due: markdownlint-cli2 --fix, lychee, dotnet format --include

build: update `PNPM` from 10.15.1 to 10.16.0
  package.json
Due: biome check --write

build: update `.NET SDK` from 9.0.304 to 9.0.305
  global.json
Due: biome check --write

build: update `PNPM` from 10.16.0 to 10.16.1
  package.json
Due: biome check --write

chore: organize projects by dependency level
  Sagitta.sln
Due: none

build: update `PNPM` from 10.16.1 to 10.17.0
  package.json
Due: biome check --write

build: update `PNPM` from 10.17.0 to 10.17.1
  package.json
Due: biome check --write

build: update `Node.js` from 22.19.0 to 22.20.0
  .nvmrc
  package.json
Due: biome check --write
