Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shfmt --write, shellcheck --severity 'style', markdownlint --fix, lychee, pnpm exec biome check --write, yamllint --strict, dotnet format --include

build: update `Node.js` from 22.11.0 to 22.12.0
  .nvmrc
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.14.4 to 9.15.0
  package.json
Due: pnpm exec biome check --write

feature(`Result`): add overload for `DoOnFailure` to avoid manually discarding the reference value
  libraries/core/documentation/monads/result.md
  libraries/core/source/Monads/Result.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

test: suppress warning `CA1515`
  libraries/core/tests/unit/Sagitta.Core.UnitTests.csproj
Due: none

documentation: use `signature` instead of `declaration` for all context definitions
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
  libraries/core/documentation/unit.md
Due: markdownlint --fix, lychee

feature(`Result`): add overload for `DoOnSuccess` to avoid the need to manually discard the reference value
  libraries/core/documentation/monads/result.md
  libraries/core/source/Monads/Result.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

feature(`Result`): add method to replace the previous result with a new one
  libraries/core/documentation/monads/result.md
  libraries/core/source/Monads/Result.cs
  libraries/core/tests/unit/Monads/Fixtures/ResultFixture.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

build: remove all transitive dependencies
  Directory.Build.props
  Directory.Packages.props
Due: none

documentation: remove `Dependency Management` category for new release notes
  .github/release.yaml
Due: yamllint --strict

dependency: revert `softprops/action-gh-release` from 2.2.0 to 2.1.0
  .github/workflows/library.yaml
Due: yamllint --strict

dependency: downgrade `softprops/action-gh-release` from 2.2.0 to 2.1.0
  .github/workflows/library.yaml
Due: yamllint --strict

build: update `PNPM` from 9.15.0 to 9.15.1
  package.json
Due: pnpm exec biome check --write

feature(`Result`): add mechanism to replace a previous success with `Unit`
  Directory.Packages.props
  libraries/core/documentation/monads/result.md
  libraries/core/source/Monads/Result.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

bug: fix reference to assets for all packages
  Directory.Build.props
  Directory.Packages.props
  libraries/core/source/Sagitta.Core.csproj
  libraries/core/tests/unit/Sagitta.Core.UnitTests.csproj
Due: none

bug: fix reference to package assets
  Directory.Build.props
  Directory.Packages.props
  libraries/core/source/Sagitta.Core.csproj
  libraries/core/tests/unit/Sagitta.Core.UnitTests.csproj
Due: none

documentation: improve the correlation between class members
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
  libraries/core/readme.md
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Monads/ResultFactory.cs
  readme.md
Due: markdownlint --fix, lychee, dotnet format --include

compatibility(`ResultFactory`): remove `Ensure` mechanism and its overloads
  libraries/core/documentation/monads/result-factory.md
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Monads/ResultFactory.cs
  libraries/core/tests/unit/Monads/ResultFactoryTests.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

feature(`Result`): add mechanism to execute an action based on the state of the previous result
  libraries/core/documentation/monads/result.md
  libraries/core/source/Monads/Result.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

build: update `PNPM` from 9.15.1 to 9.15.2
  package.json
Due: pnpm exec biome check --write

build: update `Node.js` from 22.12.0 to 22.13.0
  .nvmrc
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.15.2 to 9.15.3
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.15.3 to 9.15.4
  package.json
Due: pnpm exec biome check --write

build: update `.NET SDK` from 9.0.101 to 9.0.102
  global.json
Due: pnpm exec biome check --write

build: update `Node.js` from 22.13.0 to 22.13.1
  .nvmrc
  package.json
Due: pnpm exec biome check --write

Path conditions:
  shfmt --write: any of: (**.sh|.husky/**)
  shellcheck --severity 'style': any of: (**.sh|.husky/**)
  markdownlint --fix: any of: **.md
  lychee: any of: **.md
  pnpm exec biome check --write: any of: **.{json,js,ts}
  yamllint --strict: any of: **.{yaml,yml}
  dotnet format --include: any of: **/*.cs
