Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shfmt --write, shellcheck --severity 'style', markdownlint-cli2 --fix, lychee, biome check --write, yamllint --strict, dotnet format --include

.lintstagedrc.json:

{
	"(**.sh|.husky/**)": ["shfmt --write", "shellcheck --severity 'style'"],
	"**.md": ["markdownlint-cli2 --fix", "lychee"],
	"**.{json,js,ts}": "biome check --write",
	"**.{yaml,yml}": "yamllint --strict",
	"**/*.cs": "dotnet format --include"
}

build: update `PNPM` from 10.17.1 to 10.18.0
  package.json
Due: biome check --write

build: update `PNPM` from 10.18.0 to 10.18.1
  package.json
Due: biome check --write

build: update `PNPM` from 10.18.1 to 10.18.2
  package.json
Due: biome check --write

chore: add `Dependabot` rules for the `.NET SDK`
  .github/dependabot.yaml
  .vscode/settings.json
Due: biome check --write, yamllint --strict

workflow: centralize all `JSON` and `TypeScript` jobs
  .github/workflows/biome.yaml
  .github/workflows/json.yaml
  .github/workflows/typescript.yaml
Due: yamllint --strict

workflow: add `updater` job for `Node.js`
  .github/workflows/nodejs.yaml
  .vscode/settings.json
  .yamllint.yaml
Due: biome check --write, yamllint --strict

workflow: simplify conditional references
  .github/workflows/biome.yaml
  .github/workflows/codeql.yaml
  .github/workflows/library.yaml
  .github/workflows/markdown.yaml
  .github/workflows/shell.yaml
  .github/workflows/yaml.yaml
Due: yamllint --strict

workflow: add `updater` job for `PNPM`
  .github/workflows/pnpm.yaml
Due: yamllint --strict

workflow: add `updater` job for `Dependabot`
  .github/workflows/dependabot.yaml
Due: yamllint --strict

workflow: add all required permissions
  .github/workflows/markdown.yaml
  .github/workflows/nodejs.yaml
  .github/workflows/pnpm.yaml
Due: yamllint --strict

chore: set local `Git` configuration as trusted
  .husky/pre-commit
Due: none

workflow: ensure consistency between dependency and build references
  .github/workflows/dependabot.yaml
Due: yamllint --strict

workflow: fix reference to shell files without extensions
  .github/workflows/shell.yaml
Due: yamllint --strict

workflow(`PNPM`): switch from `GitHub` public API to `GitHub` CLI
  .github/workflows/pnpm.yaml
Due: yamllint --strict

workflow(`dependabot`): add fallback for pull request title
  .github/workflows/dependabot.yaml
Due: yamllint --strict

refactor: migrate to unbound generic types
  Directory.Build.props
  libraries/core/tests/unit/Results/ResultTests.cs
  libraries/core/tests/unit/Results/ValueResultTest.cs
Due: dotnet format --include

refactor: migrate to the XML-based solution format
  .github/workflows/codeql.yaml
  .github/workflows/library.yaml
  .vscode/settings.json
  Sagitta.sln
  Sagitta.slnx
Due: biome check --write, yamllint --strict

workflow(`dependabot`): add missing pattern for the `.NET` ecosystem
  .github/workflows/dependabot.yaml
Due: yamllint --strict

workflow(`codeql`): skip `C#` analysis
  .github/workflows/codeql.yaml
Due: yamllint --strict

build: add default test runner
  Directory.Packages.props
  global.json
  libraries/core/tests/unit/Sagitta.Core.UnitTests.csproj
Due: biome check --write

chore: synchronize recommended `VS Code` extensions
  .vscode/extensions.json
Due: biome check --write

workflow: remove all quotation marks from conditional expressions
  .github/workflows/dependabot.yaml
  .github/workflows/library.yaml
  .github/workflows/markdown.yaml
  .github/workflows/nodejs.yaml
  .github/workflows/pnpm.yaml
  .yamllint.yaml
Due: yamllint --strict

dependency: remove all duplicates
  package.json
Due: biome check --write

dependency: update `@commitlint/cli` from 20.2.0 to 20.3.0
  package.json
  pnpm-lock.yaml
Due: biome check --write, yamllint --strict

style: add missing end of line
  package.json
Due: biome check --write

chore: synchronize the licence year
  license.txt
Due: none

build: add support for `AOT`
  libraries/core/source/Sagitta.Core.csproj
  libraries/shared/source/Sagitta.Shared.csproj
Due: none

chore: enable strict linter rules and assist actions
  .lintstagedrc.json
  .vscode/settings.json
  biome.json
  commitlint.config.ts
Due: biome check --write

chore: add scope delimiter rules
  commitlint.config.ts
Due: biome check --write

documentation: add base `Starlight` configuration
  .gitignore
  .husky/pre-push
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  astro.config.ts
  biome.json
  documentation/public/favicon.svg
  documentation/source/assets/houston.webp
  documentation/source/content.config.ts
  documentation/source/content/docs/guides/example.md
  documentation/source/content/docs/index.mdx
  documentation/source/content/docs/reference/example.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: markdownlint-cli2 --fix, lychee, biome check --write, yamllint --strict

chore: simplify commit contexts
  commitlint.config.ts
Due: biome check --write

chore: synchronize `Dependabot` labels
  .github/dependabot.yaml
Due: yamllint --strict

chore: synchronize template labels
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: yamllint --strict

ci: replace `topic: documentation` label with `status: pending`
  .github/workflows/markdown.yaml
Due: yamllint --strict

chore: synchronize release labels
  .github/release.yaml
Due: yamllint --strict

ci: remove all context prefixes
  .github/workflows/dependabot.yaml
Due: yamllint --strict
