Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck --severity 'style', markdownlint --fix, lychee, pnpm dlx @biomejs/biome check --apply, dotnet format --include

dependency: migrate from `ESLint` to `Biome`
  .lintstagedrc.js
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  commitlint.config.js
  contributing.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: markdownlint --fix, lychee, pnpm dlx @biomejs/biome check --apply

dependency: add `@commitlint/types` version 18.6.0
  package.json
  pnpm-lock.yaml
Due: pnpm dlx @biomejs/biome check --apply

chore: add default formatter for `TypeScript`
  .vscode/extensions.json
  .vscode/settings.json
Due: pnpm dlx @biomejs/biome check --apply

chore: replace `JavaScript` detection with `TypeScript`
  .lintstagedrc.json
Due: pnpm dlx @biomejs/biome check --apply

chore: add missing configuration for the subrules
  commitlint.config.js
  commitlint.config.ts
  linter-configuration.js
Due: pnpm dlx @biomejs/biome check --apply

style: fix naming style from `uppercase` to `lowercase`
  commitlint.config.ts
Due: none

workflow: add detection for `TypeScript` files
  .github/workflows/codeql.yaml
Due: none

build: remove preload condition for the `SonarAnalyzer.CSharp` package
  Directory.Build.props
Due: none

build: remove pre-load condition for the `SonarAnalyzer.CSharp` package
  Directory.Build.props
Due: none

workflow: add detection for `JavaScript` files
  .github/workflows/codeql.yaml
Due: none

chore: add default formatter for `JavaScript`
  .vscode/settings.json
Due: pnpm dlx @biomejs/biome check --apply

chore: add detection for `JavaScript` files
  .lintstagedrc.json
Due: pnpm dlx @biomejs/biome check --apply

documentation: fix broken links
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/pull-request-template.md
  contributing.md
  readme.md
  source/Sagitta.Core.csproj
Due: markdownlint --fix, lychee

chore: move `test`, `source` and `documentation` directories to the `core` directory
  Sagitta.sln
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
  libraries/core/readme.md
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Monads/ResultFactory.cs
  libraries/core/source/Sagitta.Core.csproj
  libraries/core/test/unit/Global.cs
  libraries/core/test/unit/Monads/Asserters/ResultAsserter.cs
  libraries/core/test/unit/Monads/Fixtures/ResultFixture.cs
  libraries/core/test/unit/Monads/Mothers/ResultMother.cs
  libraries/core/test/unit/Monads/ResultFactoryTest.cs
  libraries/core/test/unit/Monads/ResultTest.cs
  libraries/core/test/unit/Sagitta.Core.UnitTest.csproj
  libraries/core/test/unit/Shared/Fakers/Constellation.cs
  libraries/core/test/unit/Shared/Fakers/Start.cs
  libraries/shared/icon.png
Due: markdownlint --fix, lychee, dotnet format --include

chore: rename `library.yaml` file to `libraries.yaml`
  .github/workflows/libraries.yaml
Due: none

workflow: fix libraries path
  .github/workflows/codeql.yaml
  .github/workflows/libraries.yaml
Due: none

workflow: add detection for all code coverage files
  .github/workflows/libraries.yaml
Due: none

workflow: pluralize all steps with package references
  .github/workflows/libraries.yaml
Due: none

documentation: add reference to all available packages
  readme.md
Due: markdownlint --fix, lychee

documentation: fix navigation section
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
  libraries/core/readme.md
Due: markdownlint --fix, lychee

workflow: add support for `push` event
  .github/workflows/markdown.yaml
Due: none

workflow: enable issue creation for `push` events
  .github/workflows/markdown.yaml
Due: none

style: sort members by properties, constructors, operators and methods
  libraries/core/source/Monads/Result.cs
Due: dotnet format --include

documentation(`Result`): clean main description
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
  libraries/core/readme.md
  libraries/core/source/Monads/Result.cs
Due: markdownlint --fix, lychee, dotnet format --include

documentation: fix reference to `Result<TFailure, TSuccess>`
  libraries/core/readme.md
Due: markdownlint --fix, lychee

feature(`Result`): add `Catch` method
  libraries/core/source/Monads/Result.cs
  libraries/core/test/unit/Monads/ResultTest.cs
Due: dotnet format --include

documentation: replace relative path with absolute URI to main `readme.md` file
  libraries/core/readme.md
Due: markdownlint --fix, lychee

documentation(`Result`): add summary of the `Catch` method
  libraries/core/documentation/monads/result.md
Due: markdownlint --fix, lychee

documentation: fix reference to main `readme.md` file
  libraries/core/readme.md
Due: markdownlint --fix, lychee

feature(`Result`): add overload of the `Catch` method
  libraries/core/source/Monads/Result.cs
  libraries/core/test/unit/Monads/ResultFactoryTest.cs
  libraries/core/test/unit/Monads/ResultTest.cs
Due: dotnet format --include

documentation(`Result`): add summary of `Catch` method overload
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
Due: markdownlint --fix, lychee

chore: enable `csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental` rule
  .editorconfig
Due: none

chore: treat `dotnet_style_qualification_for_field` rule as `true:warning`
  .editorconfig
Due: none

style: decrease line width to 120 characters
  .editorconfig
  .github/pull-request-template.md
  .markdownlint.json
  .vscode/settings.json
  biome.json
  commitlint.config.ts
  contributing.md
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
  libraries/core/readme.md
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Monads/ResultFactory.cs
  libraries/core/test/unit/Monads/Asserters/ResultAsserter.cs
  libraries/core/test/unit/Monads/ResultFactoryTest.cs
  libraries/core/test/unit/Monads/ResultTest.cs
  security.md
Due: markdownlint --fix, lychee, pnpm dlx @biomejs/biome check --apply, dotnet format --include

Path conditions:
  shellcheck --severity 'style': any of: (**.sh|.husky/**)
  markdownlint --fix: any of: **.md
  lychee: any of: **.md
  pnpm dlx @biomejs/biome check --apply: any of: **.{json,js}
  dotnet format --include: any of: **/*.cs
