Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shfmt --write, shellcheck --severity 'style', markdownlint --fix, lychee, pnpm exec biome check --apply, yamllint --strict, dotnet format --include

.lintstagedrc.json:

{
	"(**.sh|.husky/**)": ["shfmt --write", "shellcheck --severity 'style'"],
	"**.md": ["markdownlint --fix", "lychee"],
	"**.{json,js,ts}": "pnpm exec biome check --apply",
	"**.{yaml,yml}": "yamllint --strict",
	"**/*.cs": "dotnet format --include"
}

build: update `Node.js` from 20.12.2 to 20.13.1
  .nvmrc
  package.json
Due: pnpm exec biome check --apply

build: update `.NET SDK` from 8.0.204 to 8.0.300
  global.json
Due: pnpm exec biome check --apply

documentation: remove `WSL` as prerequisite software
  contributing.md
Due: markdownlint --fix, lychee

build: update `PNPM` from 9.1.2 to 9.1.3
  package.json
Due: pnpm exec biome check --apply

build: update `PNPM` from 9.1.3 to 9.1.4
  package.json
Due: pnpm exec biome check --apply

build: update `Node.js` from 20.13.1 to 20.14.0
  .nvmrc
  package.json
Due: pnpm exec biome check --apply

build: update `.NET SDK` from 8.0.300 to 8.0.301
  global.json
Due: pnpm exec biome check --apply

workflow: use `.` as relative path initializer
  .github/workflows/library.yaml
Due: yamllint --strict

build: update `PNPM` from 9.1.4 to 9.2.0
  package.json
Due: pnpm exec biome check --apply

refactor: improve name clarity for all custom assertion methods
  libraries/core/test/unit/Monads/Asserters/ResultAsserter.cs
  libraries/core/test/unit/Monads/ResultFactoryTest.cs
  libraries/core/test/unit/Monads/ResultTest.cs
Due: dotnet format --include

test: remove all random helpers
  libraries/core/test/unit/Monads/Fixtures/ResultFixture.cs
  libraries/core/test/unit/Monads/Mothers/ResultMother.cs
  libraries/core/test/unit/Monads/ResultTest.cs
Due: dotnet format --include

documentation: remove all references to `Twitter`
  .github/ISSUE_TEMPLATE/config.yml
  code-of-conduct.md
  libraries/core/readme.md
  lychee.toml
  readme.md
  security.md
Due: markdownlint --fix, lychee, yamllint --strict

workflow: remove trailing forward slashes for all directory references
  .github/workflows/library.yaml
Due: yamllint --strict

chore: replace deprecated `trailingComma` property with `trailingCommas`
  biome.json
Due: pnpm exec biome check --apply

chore: remove `tintoy.msbuild-project-tools` extension
  .vscode/extensions.json
Due: pnpm exec biome check --apply

build: update `PNPM` from 9.2.0 to 9.3.0
  package.json
Due: pnpm exec biome check --apply

feature: add `Unit` primitive type
  .vscode/settings.json
  libraries/core/documentation/primitives/unit.md
  libraries/core/source/Primitives/Unit.cs
Due: markdownlint --fix, lychee, pnpm exec biome check --apply, dotnet format --include

build: update `.NET SDK` from 8.0.301 to 8.0.302
  global.json
Due: pnpm exec biome check --apply

refactor: move `Unit` type to the root directory
  libraries/core/documentation/unit.md
  libraries/core/source/Unit.cs
Due: markdownlint --fix, lychee, dotnet format --include

documentation: add reference to `Unit` type
  libraries/core/documentation/unit.md
  libraries/core/readme.md
Due: markdownlint --fix, lychee

refactor: fix namespace association
  libraries/core/source/Unit.cs
Due: dotnet format --include

documentation(`Result`): improve readability of parameters
  libraries/core/documentation/monads/result.md
  libraries/core/source/Monads/Result.cs
Due: markdownlint --fix, lychee, dotnet format --include

documentation(`ResultFactory`): improve readability of parameters
  libraries/core/documentation/monads/result-factory.md
  libraries/core/source/Monads/ResultFactory.cs
Due: markdownlint --fix, lychee, dotnet format --include

workflow: fix artifacts directory location
  .github/workflows/library.yaml
Due: yamllint --strict

documentation: add accessor method to all properties
  libraries/core/documentation/monads/result.md
  libraries/core/documentation/unit.md
Due: markdownlint --fix, lychee

chore: move packages icon to `libraries` directory
  libraries/core/source/Sagitta.Core.csproj
  libraries/icon.png
Due: none

build: update `PNPM` from 9.3.0 to 9.4.0
  package.json
Due: pnpm exec biome check --apply

build: update `Node.js` from 20.14.0 to 20.15.0
  .nvmrc
  package.json
Due: pnpm exec biome check --apply

chore: replace deprecated `--apply` flag with `--write`
  .lintstagedrc.json
Due: pnpm exec biome check --apply
