Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shfmt --write, shellcheck --severity 'style', markdownlint --fix, lychee, pnpm exec biome check --write, yamllint --strict, dotnet format --include

.lintstagedrc.json:

{
	"(**.sh|.husky/**)": ["shfmt --write", "shellcheck --severity 'style'"],
	"**.md": ["markdownlint --fix", "lychee"],
	"**.{json,js,ts}": "pnpm exec biome check --write",
	"**.{yaml,yml}": "yamllint --strict",
	"**/*.cs": "dotnet format --include"
}

refactor: improve naming convention for all explicit member references
  libraries/core/test/unit/Monads/ResultFactoryTest.cs
  libraries/core/test/unit/Monads/ResultTest.cs
Due: dotnet format --include

build: update `PNPM` from 9.4.0 to 9.5.0
  package.json
Due: pnpm exec biome check --write

build: update `.NET SDK` from 8.0.302 to 8.0.303
  global.json
Due: pnpm exec biome check --write

build: update `Node.js` from 20.15.0 to 20.15.1
  .nvmrc
  package.json
Due: pnpm exec biome check --write

refactor: replace `pragma` directive with `SuppressMessage` attribute
  libraries/core/source/Global.cs
  libraries/core/source/Monads/Result.cs
Due: dotnet format --include

refactor: replace `pragma` directive with `SuppressMessage` attribute
  libraries/core/source/Monads/ResultFactory.cs
Due: dotnet format --include

refactor: move `fakers` directory to root
  libraries/core/test/unit/Fakers/Constellation.cs
  libraries/core/test/unit/Fakers/Start.cs
  libraries/core/test/unit/Global.cs
Due: dotnet format --include

chore: remove redundant `pnpm exec` command
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
Due: pnpm exec biome check --write

build: update `Node.js` from 20.15.1 to 20.16.0
  .nvmrc
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.5.0 to 9.6.0
  package.json
Due: pnpm exec biome check --write

chore: use status code from previous command instead of an explicit success status code
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

documentation: add support for `STS` releases
  security.md
Due: markdownlint --fix, lychee

refactor: add composition relationship between `Star` and `Constellation`
  libraries/core/test/unit/Fakers/Start.cs
  libraries/core/test/unit/Monads/Fixtures/ResultFixture.cs
Due: dotnet format --include

test: ensure that there are no references to `null`
  libraries/core/test/unit/Monads/Asserters/ResultAsserter.cs
Due: dotnet format --include

refactor: improve naming convention for parameters and local variables
  libraries/core/test/unit/Monads/Asserters/ResultAsserter.cs
  libraries/core/test/unit/Monads/ResultFactoryTest.cs
  libraries/core/test/unit/Monads/ResultTest.cs
Due: dotnet format --include

refactor: move `Fakers` directory to `Monads`
  libraries/core/test/unit/Global.cs
  libraries/core/test/unit/Monads/Fakers/Constellation.cs
  libraries/core/test/unit/Monads/Fakers/Start.cs
Due: dotnet format --include

test: remove all comments between steps of each case
  libraries/core/test/unit/Monads/ResultFactoryTest.cs
  libraries/core/test/unit/Monads/ResultTest.cs
Due: dotnet format --include

build: update `PNPM` from 9.6.0 to 9.7.0
  package.json
Due: pnpm exec biome check --write

chore: rename `test` directory to `tests`
  Sagitta.sln
  libraries/core/test/unit/Global.cs
  libraries/core/tests/unit/Global.cs
  libraries/core/tests/unit/Monads/Asserters/ResultAsserter.cs
  libraries/core/tests/unit/Monads/Fakers/Constellation.cs
  libraries/core/tests/unit/Monads/Fakers/Start.cs
  libraries/core/tests/unit/Monads/Fixtures/ResultFixture.cs
  libraries/core/tests/unit/Monads/Mothers/ResultMother.cs
  libraries/core/tests/unit/Monads/ResultFactoryTests.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
  libraries/core/tests/unit/Sagitta.Core.UnitTests.csproj
Due: dotnet format --include

build: update `.NET SDK` from 8.0.303 to 8.0.400
  global.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.7.0 to 9.7.1
  package.json
Due: pnpm exec biome check --write

build: update `.NET SDK` from 8.0.400 to 8.0.401
  global.json
Due: pnpm exec biome check --write

refactor: add semantic suppression for code analysis messages
  libraries/core/source/Analysis/AnalysisCategories.cs
  libraries/core/source/Analysis/AnalysisRules.cs
  libraries/core/source/Global.cs
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Monads/ResultFactory.cs
Due: dotnet format --include

compatibility(`Result`): treat equality by value instead of by reference
  .editorconfig
  libraries/core/documentation/monads/result.md
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Sagitta.Core.csproj
  libraries/core/tests/unit/Analysis/AnalysisCategories.cs
  libraries/core/tests/unit/Analysis/AnalysisRules.cs
  libraries/core/tests/unit/Global.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

documentation(`result`): sort description of the `GetHashCode` member
  libraries/core/documentation/monads/result.md
  libraries/core/source/Monads/Result.cs
Due: markdownlint --fix, lychee, dotnet format --include

compatibility(`result`): treat equality by value instead of by reference
  .editorconfig
  libraries/core/documentation/monads/result.md
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Sagitta.Core.csproj
  libraries/core/tests/unit/Analysis/AnalysisCategories.cs
  libraries/core/tests/unit/Analysis/AnalysisRules.cs
  libraries/core/tests/unit/Global.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

build: update `Node.js` from 20.16.0 to 20.17.0
  .nvmrc
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.7.1 to 9.8.0
  package.json
Due: pnpm exec biome check --write
