Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shfmt --write, shellcheck --severity 'style', markdownlint --fix, lychee, pnpm exec biome check --write, yamllint --strict, dotnet format --include

.lintstagedrc.json:

{
	"(**.sh|.husky/**)": ["shfmt --write", "shellcheck --severity 'style'"],
	"**.md": ["markdownlint --fix", "lychee"],
	"**.{json,js,ts}": "pnpm exec biome check --write",
	"**.{yaml,yml}": "yamllint --strict",
	"**/*.cs": "dotnet format --include"
}

chore: reduce the maximum number of concurrent requests and exclude all `429` status codes
  lychee.toml
Due: none

build: update `PNPM` from 10.10.0 to 10.11.0
  package.json
Due: pnpm exec biome check --write

build: update `Node.js` from 22.15.0 to 22.15.1
  .nvmrc
  package.json
Due: pnpm exec biome check --write

build: update `.NET SDK` from 9.0.203 to 9.0.300
  global.json
Due: pnpm exec biome check --write

build: update `Node.js` from 22.15.1 to 22.16.0
  .nvmrc
  package.json
Due: pnpm exec biome check --write

chore: add copyright and license headers to all source files
  .editorconfig
  .markdownlint.json
  libraries/core/readme.md
  libraries/core/source/Analysis/AnalysisCategories.cs
  libraries/core/source/Analysis/AnalysisRules.cs
  libraries/core/source/Global.cs
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Monads/ResultFactory.cs
  libraries/core/source/Unit.cs
  libraries/core/tests/unit/Analysis/AnalysisCategories.cs
  libraries/core/tests/unit/Analysis/AnalysisRules.cs
  libraries/core/tests/unit/Global.cs
  libraries/core/tests/unit/Monads/Asserters/ResultAsserter.cs
  libraries/core/tests/unit/Monads/Fakers/Constellation.cs
  libraries/core/tests/unit/Monads/Fakers/Start.cs
  libraries/core/tests/unit/Monads/Fixtures/ResultFixture.cs
  libraries/core/tests/unit/Monads/Mothers/ResultMother.cs
  libraries/core/tests/unit/Monads/ResultFactoryTests.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
  readme.md
Due: markdownlint --fix, lychee, pnpm exec biome check --write, dotnet format --include

chore: add file extension to license
  .vscode/settings.json
  code-of-conduct.md
  contributing.md
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
  libraries/core/documentation/unit.md
  libraries/core/readme.md
  license.txt
  readme.md
  security.md
Due: markdownlint --fix, lychee, pnpm exec biome check --write

build: update `PNPM` from 10.11.0 to 10.12.1
  package.json
Due: pnpm exec biome check --write

build: update `.NET SDK` from 9.0.300 to 9.0.301
  global.json
Due: pnpm exec biome check --write

chore: fix `Biome` breaking changes
  .vscode/settings.json
  biome.json
Due: pnpm exec biome check --write

dependency: replace `markdownlint-cli` version 0.45.0 with `markdownlint-cli2` version 0.18.1
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: pnpm exec biome check --write, yamllint --strict

build: update `PNPM` from 10.12.1 to 10.12.2
  package.json
Due: pnpm exec biome check --write

compatibility(`Unit`): rename the `Discarder` property to `Default`
  libraries/core/documentation/monads/result.md
  libraries/core/documentation/unit.md
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Unit.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

refactor(`Result`): remove mutually exclusive assignments and comparisons
  libraries/core/source/Monads/Result.cs
Due: dotnet format --include

build: update `PNPM` from 10.12.2 to 10.12.4
  package.json
Due: pnpm exec biome check --write

build: update `Node.js` from 22.16.0 to 22.17.0
  .nvmrc
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 10.12.4 to 10.13.1
  package.json
Due: pnpm exec biome check --write

build: update `Node.js` from 22.17.0 to 22.17.1
  .nvmrc
  package.json
Due: pnpm exec biome check --write

test: upgrade testing platform from `Visual Studio Test Platform` to `Microsoft Testing Platform`
  .github/workflows/library.yaml
  .husky/pre-push
  .vscode/settings.json
  Directory.Packages.props
  libraries/core/tests/unit/Sagitta.Core.UnitTests.csproj
Due: pnpm exec biome check --write, yamllint --strict

test: reduce complexity in use cases
  libraries/core/tests/unit/Analysis/AnalysisCategories.cs
  libraries/core/tests/unit/Analysis/AnalysisRules.cs
  libraries/core/tests/unit/Exceptions/ProofOfConceptException.cs
  libraries/core/tests/unit/Global.cs
  libraries/core/tests/unit/Monads/Asserters/ResultAsserter.cs
  libraries/core/tests/unit/Monads/Fakers/Constellation.cs
  libraries/core/tests/unit/Monads/Fakers/Start.cs
  libraries/core/tests/unit/Monads/Fixtures/ResultFixture.cs
  libraries/core/tests/unit/Monads/Mothers/ResultMother.cs
  libraries/core/tests/unit/Monads/ResultFactoryTests.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
  libraries/core/tests/unit/Sagitta.Core.UnitTests.csproj
Due: dotnet format --include

refactor(`Result`): ensure that `Equals` returns `false` when states differ
  libraries/core/source/Monads/Result.cs
Due: dotnet format --include

feature(`Result`): add support for tuple deconstruction
  code-of-conduct.md
  libraries/core/documentation/monads/result.md
  libraries/core/readme.md
  libraries/core/source/Monads/Result.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
  readme.md
  security.md
Due: markdownlint --fix, lychee, dotnet format --include

compatibility(`Result`): throw `InvalidOperationException` when accessing an invalid state
  contributing.md
  libraries/core/documentation/monads/result.md
  libraries/core/readme.md
  libraries/core/source/Monads/Result.cs
  libraries/core/tests/unit/Monads/Asserters/ResultAsserter.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

feature(`Result`): add `Try` pattern support
  libraries/core/documentation/monads/result.md
  libraries/core/source/Monads/Result.cs
  libraries/core/tests/unit/Global.cs
  libraries/core/tests/unit/Monads/ResultFactoryTests.cs
  libraries/core/tests/unit/Monads/ResultTests.cs
Due: markdownlint --fix, lychee, dotnet format --include

documentation: update package icon
  libraries/icon.png
Due: none
