Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shfmt --write, shellcheck --severity 'style', markdownlint --fix, lychee, pnpm exec biome check --write, yamllint --strict, dotnet format --include

build: update `PNPM` from 9.15.4 to 9.15.5
  package.json
Due: pnpm exec biome check --write

build: upgrade `PNPM` from 9.15.5 to 10.2.1
  package.json
Due: pnpm exec biome check --write

chore: synchronize current year
  license
Due: none

build: update `PNPM` from 10.2.1 to 10.4.0
  package.json
Due: pnpm exec biome check --write

build: update `Node.js` from 22.13.1 to 22.14.0
  .nvmrc
  package.json
Due: pnpm exec biome check --write

build: update `.NET SDK` from 9.0.102 to 9.0.200
  global.json
Due: pnpm exec biome check --write

build: update `PNPM` from 10.4.0 to 10.4.1
  package.json
Due: pnpm exec biome check --write

documentation: replace `Twitter/X` with a FOSS-oriented email
  .github/ISSUE_TEMPLATE/config.yml
  .vscode/settings.json
  code-of-conduct.md
  libraries/core/readme.md
  lychee.toml
  readme.md
  security.md
Due: markdownlint --fix, lychee, pnpm exec biome check --write, yamllint --strict

build: update `PNPM` from 10.4.1 to 10.5.2
  package.json
Due: pnpm exec biome check --write

workflow: add explicit file location for code coverage
  .github/workflows/library.yaml
  libraries/core/tests/unit/Sagitta.Core.UnitTests.csproj
Due: yamllint --strict

build: update `PNPM` from 10.5.2 to 10.7.1
  package.json
  pnpm-workspace.yaml
Due: pnpm exec biome check --write, yamllint --strict

build: update `.NET SDK` from 9.0.200 to 9.0.201
  global.json
Due: pnpm exec biome check --write

style: remove line break before defining the first option
  .husky/pre-push
Due: none

refactor(`csharp`): apply all new custom rules for `.NET`, `C#` and `ReSharper`
  .editorconfig
  libraries/core/source/Global.cs
  libraries/core/source/Monads/Result.cs
  libraries/core/source/Monads/ResultFactory.cs
  libraries/core/tests/unit/Global.cs
Due: dotnet format --include

build: update `PNPM` from 10.7.1 to 10.8.0
  package.json
Due: pnpm exec biome check --write

build: update `.NET SDK` from 9.0.201 to 9.0.203
  global.json
Due: pnpm exec biome check --write

chore: add `resharper_convert_to_local_function_highlighting` rule
  .editorconfig
Due: none

chore: add `VS Code` associations for `license` and `nuget.config` files
  .vscode/settings.json
Due: pnpm exec biome check --write

build: update `PNPM` from 10.8.0 to 10.8.1
  package.json
Due: pnpm exec biome check --write

chore: set `Biome` initialization per workspace
  .vscode/settings.json
Due: pnpm exec biome check --write

build: update `PNPM` from 10.8.1 to 10.9.0
  package.json
Due: pnpm exec biome check --write

build: update `Node.js` from 22.14.0 to 22.15.0
  .nvmrc
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 10.9.0 to 10.10.0
  package.json
Due: pnpm exec biome check --write

chore: set `csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental` as silent
  .editorconfig
Due: none

workflow(`markdown`): replace the `status: pending` label with `topic: documentation`
  .github/workflows/markdown.yaml
Due: yamllint --strict

Path conditions:
  shfmt --write: any of: (**.sh|.husky/**)
  shellcheck --severity 'style': any of: (**.sh|.husky/**)
  markdownlint --fix: any of: **.md
  lychee: any of: **.md
  pnpm exec biome check --write: any of: **.{json,js,ts}
  yamllint --strict: any of: **.{yaml,yml}
  dotnet format --include: any of: **/*.cs
