Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shfmt --write, shellcheck --severity 'style', markdownlint --fix, lychee, pnpm exec biome check --write, yamllint --strict, dotnet format --include

build: update `PNPM` from 9.8.0 to 9.9.0
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.9.0 to 9.10.0
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.10.0 to 9.11.0
  package.json
Due: pnpm exec biome check --write

build: update `.NET SDK` from 8.0.401 to 8.0.402
  global.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.11.0 to 9.12.0
  package.json
Due: pnpm exec biome check --write

build: update `Node.js` from 20.17.0 to 20.18.0
  .nvmrc
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.12.0 to 9.12.1
  package.json
Due: pnpm exec biome check --write

workflow: add `failIfEmpty` option to `lycheeverse/lychee-action` action
  .github/workflows/markdown.yaml
Due: yamllint --strict

build: update `.NET SDK` from 8.0.402 to 8.0.403
  global.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.12.1 to 9.12.2
  package.json
Due: pnpm exec biome check --write

documentation: add reference to stargazers
  readme.md
Due: markdownlint --fix, lychee

chore: simplify pull request template
  .github/pull-request-template.md
Due: markdownlint --fix, lychee

build: upgrade `Node.js` from 20.18.0 to 22.11.0
  .nvmrc
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.12.2 to 9.12.3
  package.json
Due: pnpm exec biome check --write

compatibility: upgrade `.NET SDK` from 8.0.403 to 9.0.100
  .editorconfig
  Directory.Build.props
  Directory.Packages.props
  global.json
  libraries/core/tests/unit/Sagitta.Core.UnitTests.csproj
Due: pnpm exec biome check --write

build: update `PNPM` from 9.12.3 to 9.13.2
  package.json
Due: pnpm exec biome check --write

documentation: add reference to stargazers
  libraries/core/readme.md
Due: markdownlint --fix, lychee

build: update `PNPM` from 9.13.2 to 9.14.2
  package.json
Due: pnpm exec biome check --write

build: update `PNPM` from 9.14.2 to 9.14.4
  package.json
Due: pnpm exec biome check --write

chore: disable suggestions for unrecognizable words
  .vscode/settings.json
Due: pnpm exec biome check --write

documentation: apply `blanks-around-tables` rule
  libraries/core/documentation/monads/result-factory.md
  libraries/core/documentation/monads/result.md
Due: markdownlint --fix, lychee

build: add `AnalysisLevel` property
  Directory.Build.props
  Sagitta.sln
Due: none

build: update `.NET SDK` from 9.0.100 to 9.0.101
  global.json
Due: pnpm exec biome check --write

Path conditions:
  shfmt --write: any of: (**.sh|.husky/**)
  shellcheck --severity 'style': any of: (**.sh|.husky/**)
  markdownlint --fix: any of: **.md
  lychee: any of: **.md
  pnpm exec biome check --write: any of: **.{json,js,ts}
  yamllint --strict: any of: **.{yaml,yml}
  dotnet format --include: any of: **/*.cs
