Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shfmt --write, shellcheck --severity 'style', biome check --write, yamllint --strict, markdownlint-cli2 --fix, lychee, dotnet format --include

chore: standardize directory naming for the documentation context
  astro.config.ts
  docs/public/favicon.svg
  docs/src/assets/houston.webp
  docs/src/content.config.ts
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/example.md
  tsconfig.json
Due: biome check --write, markdownlint-cli2 --fix, lychee

chore: remove parallel execution in `pre-push` hook
  .husky/pre-push
Due: none

docs: synchronize external resources
  libs/core/readme.md
Due: markdownlint-cli2 --fix, lychee

chore: enforce strict pnpm policies for supply chain attacks
  .github/dependabot.yaml
  .npmrc
  .vscode/settings.json
  contributing.md
Due: biome check --write, yamllint --strict, markdownlint-cli2 --fix, lychee

docs: add base API context for the `Unit` type
  .vscode/settings.json
  astro.config.ts
  biome.json
  docs/src/components/tables/ParametersTable.astro
  docs/src/components/tables/parameters-table.d.ts
  docs/src/content/docs/api/unit.mdx
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/example.md
  docs/src/global.ts
Due: biome check --write, markdownlint-cli2 --fix, lychee

ci: avoid detection of removed files
  .github/workflows/biome.yaml
  .github/workflows/library.yaml
  .github/workflows/markdown.yaml
  .github/workflows/shell.yaml
  .github/workflows/yaml.yaml
Due: yamllint --strict

docs: add base API context for the `ValueResult<TFailure, TSuccess>` type
  .vscode/settings.json
  astro.config.ts
  docs/src/content/docs/api/results/value-result.mdx
  docs/src/content/docs/api/unit.mdx
Due: biome check --write

docs: add base API context for the `ValueResultFactory` type
  .vscode/settings.json
  docs/src/components/generic-table/GenericTable.astro
  docs/src/components/generic-table/generic-table.d.ts
  docs/src/components/parameter-table/ParameterTable.astro
  docs/src/components/parameter-table/parameter-table.d.ts
  docs/src/components/tables/parameters-table.d.ts
  docs/src/content/docs/api/results/value-result-factory.mdx
  docs/src/content/docs/api/results/value-result.mdx
  docs/src/content/docs/api/unit.mdx
Due: biome check --write

docs: add base API context for the `Result<TFailure, TSuccess>` type
  .vscode/settings.json
  biome.json
  docs/src/components/parameter-table/ParameterTable.astro
  docs/src/content/docs/api/results/result.mdx
  docs/src/content/docs/api/results/value-result-factory.mdx
Due: biome check --write

docs: add base API context for the `ResultFactory` type
  docs/src/content/docs/api/results/result-factory.mdx
Due: none

docs: add reference to the core package
  .vscode/settings.json
  Directory.Build.props
  astro.config.ts
  docs/src/content/docs/api/core/results/result-factory.mdx
  docs/src/content/docs/api/core/results/result.mdx
  docs/src/content/docs/api/core/results/value-result-factory.mdx
  docs/src/content/docs/api/core/results/value-result.mdx
  docs/src/content/docs/api/core/unit.mdx
  docs/src/content/docs/index.mdx
Due: biome check --write

build: migrate to the latest `PNPM` permissions configuration
  pnpm-workspace.yaml
Due: yamllint --strict

fix: update on the new way to automatically generate links
  astro.config.ts
  tsconfig.json
Due: biome check --write

chore: remove all status labels
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/dependabot.yaml
  .github/workflows/markdown.yaml
  .github/workflows/nodejs.yaml
  .github/workflows/pnpm.yaml
Due: yamllint --strict

ci(dependabot): add `synchronize` event for new updates
  .github/workflows/dependabot.yaml
Due: yamllint --strict

ci: centralize new updates in the same pull request
  .github/workflows/nodejs.yaml
  .github/workflows/pnpm.yaml
Due: yamllint --strict

chore: allow status 403 link responses
  lychee.toml
Due: none

chore: remove all inaccessible resources
  libs/core/readme.md
  readme.md
Due: markdownlint-cli2 --fix, lychee

chore: add initial claude context
  .husky/pre-push
  CLAUDE.md
Due: markdownlint-cli2 --fix, lychee

build: upgrade `PNPM` lockfile
  pnpm-lock.yaml
Due: yamllint --strict

build: synchronize `PNPM` lockfile
  pnpm-lock.yaml
Due: yamllint --strict

Path conditions:
  shfmt --write: any of: (**.sh|.husky/**)
  shellcheck --severity 'style': any of: (**.sh|.husky/**)
  biome check --write: any of: **.{json,js,ts}
  yamllint --strict: any of: **.{yaml,yml}
  markdownlint-cli2 --fix: any of: **.md
  lychee: any of: **.md
  dotnet format --include: any of: **/*.cs
