Repository daht-x/sagitta: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck --severity 'style', markdownlint --fix, lychee, pnpm dlx @biomejs/biome check --apply, dotnet format --include

build: update `.NET SDK` from 8.0.101 to 8.0.201
  global.json
Due: pnpm dlx @biomejs/biome check --apply

build: update `Node.js` from 20.11.0 to 20.11.1
  .nvmrc
  package.json
Due: pnpm dlx @biomejs/biome check --apply

chore: rename `shared` directory to `common`
  libraries/common/icon.png
  libraries/core/source/Sagitta.Core.csproj
  libraries/core/test/unit/Common/Fakers/Constellation.cs
  libraries/core/test/unit/Common/Fakers/Start.cs
  libraries/core/test/unit/Global.cs
Due: dotnet format --include

chore: add `I` prefix as required for all interfaces
  .editorconfig
Due: none

refactor: remove all `static` keywords from lambda expressions
  libraries/core/test/unit/Monads/ResultFactoryTest.cs
  libraries/core/test/unit/Monads/ResultTest.cs
Due: dotnet format --include

build: update `.NET SDK` from 8.0.201 to 8.0.203
  global.json
Due: pnpm dlx @biomejs/biome check --apply

build: update `Node.js` from 20.11.1 to 20.12.1
  .nvmrc
  package.json
Due: pnpm dlx @biomejs/biome check --apply

build: update `Node.js` from 20.12.1 to 20.12.2
  .nvmrc
  package.json
Due: pnpm dlx @biomejs/biome check --apply

build: update `.NET SDK` from 8.0.203 to 8.0.204
  global.json
Due: pnpm dlx @biomejs/biome check --apply

chore: remove call to the `husky.sh` script
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: change default shell from `sh` to `bash`
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

workflow: simplify search pattern for files with `.cs` and `.csproj` extension
  .github/workflows/codeql.yaml
  .github/workflows/libraries.yaml
Due: none

chore: add `yamllint` tool configuration
  .editorconfig
  .lintstagedrc.json
  .yamllint.yaml
  contributing.md
Due: markdownlint --fix, lychee, pnpm dlx @biomejs/biome check --apply

workflow: add base integration events for `YAML` files
  .github/workflows/yaml.yaml
Due: none

workflow: add base integration events for `JSON` files
  .github/workflows/json.yaml
Due: none

workflow: add base integration events for `TypeScript` files
  .github/workflows/typescript.yaml
Due: none

workflow: rename identifier from `changed-files` to `markdown-files`
  .github/workflows/markdown.yaml
Due: none

chore: rename `libraries.yaml` file to `library.yaml`
  .github/workflows/library.yaml
Due: none

build: add `Corepack` specification
  package.json
Due: pnpm dlx @biomejs/biome check --apply

chore: add braces around variable references
  .husky/commit-msg
  .husky/pre-push
Due: none

chore: remove `ms-vscode.vscode-typescript-next` extension
  .vscode/extensions.json
Due: pnpm dlx @biomejs/biome check --apply

build: upgrade `PNPM` from 8.15.7 to 9.0.6
  package.json
  pnpm-lock.yaml
Due: pnpm dlx @biomejs/biome check --apply

chore: add `markdownlint` schema
  .markdownlint.json
Due: pnpm dlx @biomejs/biome check --apply

chore: add `shfmt` configuration
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
Due: pnpm dlx @biomejs/biome check --apply

documentation: add reference to `shfmt` tool
  contributing.md
Due: markdownlint --fix, lychee

workflow: add linter for `Shell` files
  .github/workflows/shell.yaml
Due: none

style: add single quotes to all arguments to the `set` command
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

build: update `PNPM` from 9.0.6 to 9.1.0
  package.json
Due: pnpm dlx @biomejs/biome check --apply

build: update `PNPM` from 9.1.0 to 9.1.2
  package.json
Due: pnpm dlx @biomejs/biome check --apply

build: update `Node.js` from 20.12.2 to 20.13.1
  .nvmrc
  package.json
Due: pnpm dlx @biomejs/biome check --apply

Path conditions:
  shellcheck --severity 'style': any of: (**.sh|.husky/**)
  markdownlint --fix: any of: **.md
  lychee: any of: **.md
  pnpm dlx @biomejs/biome check --apply: any of: **.{json,js,ts}
  dotnet format --include: any of: **/*.cs
